<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/favicon.ico" type="image/gif" sizes="16x16">
    <title>{{title}}</title>
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="css/all.min.css">
    <!-- ROBOTO Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!-- BALOO Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap" rel="stylesheet">
    <!-- TOGGLE CSS -->
    <link rel="stylesheet" href="vendor/bootstrap4-toggle-master/css/bootstrap4-toggle.css">
</head>