<!DOCTYPE html>
<html lang="en">
{{#hasHead}}
    {{> head}}
{{/hasHead}}
<body data-pageid="{{pageId}}" class="no-gutters pb-0 overflow-hidden">
    {{#hasNav}}
        {{> nav}}
    {{/hasNav}}
    <div class="row ">
        {{#hasFeed}}
            {{> feed}}
        {{/hasFeed}}
        {{#hasLogin}}
            {{> login}}
        {{/hasLogin}}
        {{#has404}}
            {{> 404}}
        {{/has404}}
    </div>
    {{#hasFooter}}
        {{> footer}}
    {{/hasFooter}}
</body>

</html>