<div class="form-row">	
        <div class="col">	
            <!-- Handle -->	
            <div class="md-form">	
                <div class="row ">	
                    <div class="col-8 align-self-center">	
                        <label class="form-text text-muted text-left" for="preferences">' . $label . ':</label>	
                    </div>	
                    <div class="col-4 align-self-center">	
                        <label class="form-text text-muted text-left" for="preferences"> Subscribed: </label>	
                    </div>	
                </div>	
            </div>	
        </div>                               	
    </div>	
    <hr class="mb-0" />